
SANITY_API_WRITE_TOKEN=
RESEND_API_KEY=
EMAIL_FROM="Fashion Gate Mall <noreply@fashiongatemall.com>"
EMAIL_TO="support@fashiongatemall.com"
NEXT_PUBLIC_SITE_URL="https://fashiongatemall.com"
EMAIL_PUBLIC_ASSET_URL="https://fashiongatemall.com"
NEWSLETTER_ADMIN_EMAIL="support@fashiongatemall.com"
REDIS_URL=
